{% include 'header.html' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">  <i class="nav-icon fas fa-book-medical"></i> Basis Data Pengetahuan</h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <!-- DIBAGIAN INI HARUS DIUBAH HEIGHT NYA SUPAYA MUNCUL SCROLL PAD DI KANAN -->
              <div class="card-body table-responsive p-0" style="height: 729px;"> 
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th style="text-align: center;">No.</th>
                      <th style="text-align: center;">Kode Penyakit</th>
                      <th style="text-align: center;">Nama Penyakit</th>
                      <th style="text-align: center;">Kode Gejala</th>
                      <th>Nama Gejala</th>
                      <th style="text-align: center;">Nilai CF Dokter</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                  {% for rs in data %}
                    <tr>
                      <td style="text-align: center;">{{ loop.index }}</td>
                      <td style="text-align: center;">{{ rs.1 }}</td>
                      <td style="text-align: center;">{{ rs.4 }}</td>
                      <td style="text-align: center;">{{ rs.0 }}</td>
                      <td>{{ rs.5 }}</td>
                      <td style="text-align: center;">{{ rs.2 }}</td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'footer.html' %}