{% include 'header.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="col-12">
            <div class="info-box bg-gradient-success">
                <span class="info-box-icon">
          <i class="ion ion-clipboard mr-1"></i>
        </span>
                <div class="info-box-content">
                    <!-- <span class="info-box-number">Diagnosis Penyakit</span> -->
                    <span class="progress-description">
            <li>
              Pilih gejala yang dirasakan dengan mengisikan kategori keluhannya ( Kemungkian Besar, Mungkin, Ragu-ragu,
              Yakin)
            </li>
            <li>
              Gejala yang tidak terjadi <b style="background-color: #ffce54;color: black;"> tidak perlu</b> diisikan
            </li>
            <li>
              <b style="background-color: #ffce54;color: black;"> Tidak dapat</b> mengisikan gejala yang sama
            </li>
          </span>
                </div>
            </div>
        </div>
        {% set flag = [] %}
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="ion ion-clipboard mr-1"></i> Gejala Yang Dirasakan Pasien
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 590px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th style="width: 10px">No.</th>
                                <th>Nama Gejala</th>
                                <th style="text-align: center;">Ragu-ragu <i class="fa fa-info-circle" style="color:black" onclick="toastr.info('Dapat diartikan sepertinya tidak, jarang terjadi atau tidak begitu yakin','Ragu-ragu')"></i>
                                    <br> 0.25
                                </th>
                                <th style="text-align: center;">Mungkin <i class="fa fa-info-circle" style="color:black" onclick="toastr.info('Dapat diartikan kadang-kadang, bisa iya - bisa tidak, atau bisa jadi','Mungkin')"></i><br> 0.5</th>
                                <th style="text-align: center;">Kemungkian besar <i class="fa fa-info-circle" style="color:black" onclick="toastr.info('Dapat diartikan sering, sepertinya iya, atau sebagian besar yakin','Kemungkinan besar')"></i><br> 0.75
                                </th>
                                <th style="text-align: center;">Yakin <i class="fa fa-info-circle" style="color:black" onclick="toastr.info('Dapat diartikan pasti, terjadi atau iya','Yakin')"></i><br> 1.0</th>
                                <th style="text-align: center;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in datak %} {% set aj = flag.append(i.1) %} {% endfor %} {% for rs in data %}
                            <tr>

                                {% if rs.1 not in flag %}
                                <td>{{ loop.index }}</td>
                                <td>{{ rs.1 }}</td>
                                <form name="form1" role="form" action="{{ url_for('simpanPilihanGejala') }}" method="POST">
                                    <fieldset>
                                        <!-- <td>
                                            <input type="radio" value="0" name="gejalaChoosen" checked="checked" id="todo2" onclick="toastr.info('Pilihan anda untuk {{ rs.0 }} dengan?')">
                                        </td> -->
                                        <td>
                                            <input type="radio" value="0.25" required name="gejalaChoosen" id="todo2" onclick="toastr.success('Ragu-ragu untuk {{ rs.0 }}, click ADD untuk tambah gejala.')">
                                        </td>
                                        <td>
                                            <input type="radio" value="0.5" required name="gejalaChoosen" id="todo3" onclick="toastr.success('Mungkin untuk {{ rs.0 }}, click ADD untuk tambah gejala.')">
                                        </td>
                                        <td>
                                            <input type="radio" value="0.75" required name="gejalaChoosen" id="todo4" onclick="toastr.success('Kemungkinan Besar untuk {{ rs.0 }}, click ADD untuk tambah gejala.')">
                                        </td>
                                        <td>
                                            <input type="radio" value="1" required name="gejalaChoosen" id="todo5" onclick="toastr.success('Yakin untuk {{ rs.0 }}, click ADD untuk tambah gejala.')">
                                        </td>
                                    </fieldset>
                                    <td>
                                        <input type="hidden" name="gejalaApaIni" value="{{ rs.1 }}">
                                        <button id=" btn" type=" submit" class="btn btn-block bg-gradient-primary"> Add</button>
                                    </td>
                                </form>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% set c = 0 %} {% for d in datak %} {% set c = loop.length %} {% if loop.last is true %}
                <a type="button" class="btn btn-block bg-gradient-success btn-lg" href="/keluhan"> Selanjutnya (<b
            style="color:#ffce54;">{{ c }} gejala dipilih</b>)
        </a> {% endif %} {% endfor %}
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% include 'footer.html' %}