{% include 'header.html' %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title justify-content-center">
                                <i class="fas fa-bullhorn"></i>
                                Rule Sesuai Gejala yang Anda Dipilih
                            </h3>
                        </div>

                        
                        <div class="card-body">
                            <div class="card-body">
                                <!-- TABEL PERTAMA -->
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <h5>
                                                Table CF
                                            </h5>
                                        </tr>
                                        <tr>
                                            <th style="width: 50px; text-align: center;">No.</th>
                                            <th style="text-align: center;">Kode Gejala</th>
                                            <th style="text-align: center">Kode Penyakit</th>
                                            <th>Gejala</th>
                                            <th>Penyakit</th>
                                            <th style="text-align: center">CF Pasien</th>
                                            <th style="text-align: center">CF Dokter</th>
                                            <th style="text-align: center">CF Kombinasi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for rs in data %}
                                        <tr>
                                            <td style="width: 50px; text-align: center;">{{ loop.index }}</td>
                                            <td style="text-align: center;">{{ rs.0 }}</td>
                                            <td style="text-align: center;">{{ rs.1 }}</td>
                                            <td>{{ rs.2 }}</td>
                                            <td>{{ rs.3 }}</td>
                                            <td style="text-align: center">{{ rs.4 }}</td>
                                            <td style="text-align: center">{{ rs.5 }}</td>
                                            <td style="text-align: center">{{ rs.6}}</td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="3">Unbelievable. No entries here so far</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                                <!-- TABEL KEDUA -->
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                        <tr>
                                            <th style="width: 50px; text-align: center;">No.</th>
                                            <th style="text-align: center;">Nama Penyakit</th>
                                            <th style="text-align: center">Gejala-gejala yang terjadi</th>
                                            <th style="text-align: center">CF</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for rs in dataa %}
                                        <tr>
                                            <td style="width: 50px; text-align: center;">{{ loop.index }}</td>
                                            <td style="text-align: center;">{{ rs.0 }}</td>
                                            <td style="text-align: center;">{{ rs.1 }}</td>
                                            <td style="text-align: center;">{{ rs.2 }}</td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="3">Unbelievable. No entries here so far</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                                <!-- TABEL KETIGA -->
                                {% set fani = [0,] %}
                                {% for rs in dataaa %}
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <br>
                                            Penyakit {{ rs.0 }}
                                        </tr>
                                        <tr>
                                            <th style="text-align: center;">Kode Gejala</th>
                                            <th style="text-align: center">Nama Penyakit</th>
                                            <th style="text-align: center">CF Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {% set mylist= [] %}
                                            {% for rsa in data %}
                                            {% if rs.0 == rsa.3 %}
                                        <tr>
                                            <td style="text-align: center; width: 400px;">{{ rsa.0 }}</td>
                                            <td style="text-align: center;">{{ rsa.2 }}</td>
                                            <td style="text-align: center;width: 400px;""> {{ rsa.6 }} </td>
                                            {% set din = mylist.append( rsa.6 ) %}
                                            {% else %}
                                            {% endif %}
                                        </tr>
                                            {% endfor %}
                                        <tr>
                                            <td colspan="2" style="text-align: right;">Total CF untuk penyakit {{ rs.0 }}</td>
                                            <td style="text-align: center;">
                                                {% set temp = [0,] %}
                                                {% set cf = 0 %}
                                                {% for p in mylist %}
                                                    {% if loop.nextitem is defined %}
                                                        {% if loop.first is true %}
                                                            {% set cf = p + loop.nextitem * (1 - p) %}
                                                            {% set hel = temp.append( cf ) %}
                                                            <!-- {{ cf }} -->
                                                        {% else %}
                                                            <!-- <td style="background-color: blue;"> {{ p,temp[loop.index0],loop.nextitem }} </td> -->
                                                            {% set cf = temp[loop.index0] + loop.nextitem * (1 - temp[loop.index0]) %}
                                                            {% set hel = temp.append( cf ) %}
                                                            <!-- <td style="background-color: green;"> {{ cf }} </td> -->
                                                        {% endif%}
                                                    {% elif mylist|length == 1 %}
                                                        {% set cf = p %}
                                                        {% set hel = temp.append( cf ) %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% for c in temp %}
                                                    {% if loop.last is true %}
                                                        {{ c }} 
                                                    {% endif %}
                                                {% endfor %} 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="text-align: right;">Persen CF untuk penyakit {{ rs.0 }}</td>
                                            <td style="text-align: center;">
                                                {% for c in temp %}
                                                    {% if loop.last is true %}
                                                        {{ c * 100 }} %
                                                        {% set mas = fani.append( c ) %}
                                                    {% endif %}
                                                {% endfor %} 
                                            </td>
                                        </tr>
                                {% else %}
                                        <tr>
                                            <td style="text-align: center;" colspan="3">Unbelievable. No entries here so far</td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                                </table>
                                <br>{% set ayang = 'a' %}
                                <!-- TABLE KE 4 (MUNGKIN WKWKKW) -->
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                        <tr>
                                            <th style="width: 50px; text-align: center;">No.</th>
                                            <th style="text-align: center;">Nama Penyakit</th>
                                            <th style="text-align: center">CF Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% for rs in dataa %}
                                        <tr>
                                            <td style="width: 50px; text-align: center;">{{ loop.index }} </td>
                                            <td style="text-align: center;">{{ rs.0 }}</td>
                                            <td style="text-align: center;">
                                                
                                                {{ fani[loop.index] * 100 }} %
                                                {% if fani[loop.index] == fani|max %}
                                                    {% set ayang = rs.0 %}
                                                {% endif %}
                                                
                                            </td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="3">Unbelievable. No entries here so far</td>
                                        </tr>
                                        {% endfor %}
                                        {% for rs in dataa %}
                                        <tr style="text-align: center;">
                                                {% if fani[loop.index] == fani|max %}
                                                    {% set ayang = rs.0 %}
                                                    <td colspan="3">Penyakitnya adalah  <b>  {{ ayang }} </b> dengan nilai CF sebesar <b>  {{ fani|max * 100 }}% </b>   
                                                    </td>
                                                {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                            </div>
                            <div class= "modal-footer justify-content-center">
                                <a type="text" class="btn bg-gradient-primary btn-lg " href="/sakti">Lihat Analisis KNN-nya</a>
                                <button type="button"  class="btn bg-gradient-danger btn-lg" data-toggle="modal"
                                data-target="#resetDia" >
                                    Reset Rekam Medis
                                </button>
                                <div id="resetDia" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title">Konfirmasi Reset</h4>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <p>Apakah anda yakin untuk me-reset seluruh data riwayat diagnosis penyakit?</p>
                                        </div>
                                        <div class="modal-footer justify-content-between form-group">
                                            {% if username is defined %}
                                            <a type=" button" class="btn btn-success" data-toggle="modal" aria-label="Close" data-target="#modalSimpan" style="color:white;">Simpan Diagnosis</a>
                                            {% endif %}
                                            <a type= "button" class="btn btn-danger" href="/hapusRekamMedis">Reset Diagnosis</a>
                                        </div>
                                        <div>
                                            <div id="modalSimpan" class="modal fade" role="dialog">
                                            <div class="modal-dialog  modal-lg">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h4 class="modal-title">Lengkapi Rekam Medis</h4>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form role="form" action="/simpanRekamMedis" method="POST">
                                                        <div class="card-body">
                                                            <div class="form-group">
                                                                <label for="namaPasien">Nama Pasien</label>
                                                                <input type="text" class="form-control" id="namaPasien" name="namaPasien" placeholder="Masukkan Nama Pasien">

                                                                <label for="umurPasien">Umur Pasien</label>
                                                                <input type="number" class="form-control" id="umurPasien" name="umurPasien" placeholder="Masukkan Umur Pasien">
                                                                
                                                                <label for="genderPasien">Jenis Kelamin Pasien</label>
                                                                <div class="form-group">
                                                                    <div class="form-check">
                                                                      <input class="form-check-input" type="radio" id="genderPasien" name="genderPasien" value=0>
                                                                      <label class="form-check-label">Laki-laki</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                      <input class="form-check-input" type="radio"  id="genderPasien" name="genderPasien" value=1>
                                                                      <label class="form-check-label">Perempuan</label>
                                                                    </div>
                                                                </div>
                                                                <table>
                                                                    <thead>
                                                                        <b>Gejala yang dialami:</b>
                                                                    </thead>
                                                                    <tr> 
                                                                        {% for p in datak %}
                                                                            <li>
                                                                                {{ p.1 }}
                                                                            </li>             
                                                                        {% endfor %}                                                        
                                                                    </tr>
                                                                </table>
                                                                {% for rs in dataa %}
                                                                {% if fani[loop.index] == fani|max %}
                                                                    {% set ayang = rs.0 %}
                                                                    <b> Diagnosis penyakit yang dialami pasien: {{ ayang }} </b>
                                                                    <br>
                                                                    <input type="hidden" name="np2" value="{{ ayang }}">
                                                                {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <!-- /.card-body -->
                                                        <div class="card-footer">
                                                          <button type="submit" class="btn btn-primary"> Submit </button>
                                                        </div>
                                                    </form>
                                                </div>
                                              </div>
                                            </div>
                                          </div>    
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% include 'footer.html' %}