{% include 'header.html' %}
{% set paketTest = [] %}
{% set penyakitApe = 0 %}
{% set paketPenyakit = [] %}
{% set samagk = [] %}
{% set paketKu = [] %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <div class="card collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title justify-content-center">
                                <!-- <i class="fas fa-bullhorn"></i> -->
                                20 Data Data <i>Testing</i> secara <i>random</i>
                            </h3>
                            <!-- /.user-block -->
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-minus"></i>
                                </button>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- TABEL PERTAMA -->
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <h5>
                                            <!-- 20 Data Data <i>Testing</i> secara <i>random</i> -->
                                        </h5>
                                    </tr>
                                    <tr style="text-align: center;">
                                        <th style="width: 100px">No.</th>
                                        <th style="text-align: center;width: 200px;">Nama Pasien</th>
                                        <th style="text-align: center;">Gejala Pasien</th>
                                        <th>Hasil Diagnosis</th>
                                </thead>
                                <tbody>
                                    {% for rs in data %}
                                    <tr>
                                        <td style="width: 100px; text-align: center;">{{ loop.index }}</td>
                                        <td style="text-align: center;width: 200px;">{{ rs.0 }}</td>
                                        <td style="text-align: center; width: 1200px;">{{ rs.1 }}</td>
                                        <td style="text-align: center;width: 150px;">{{ rs.2 }}</td>
                                        {% set mv = paketTest.append(rs.0) %}
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="3">Unbelievable. No entries here so far</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class= "card-footer modal-footer justify-content-center">
                                <a type=" button" class="btn bg-gradient-danger btn-lg" href="/resetDataTesting/20">Reset Data Testing</a>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card collapsed-card">
                    <div class="card-header">
                        <h3 class="card-title justify-content-center">
                            <!-- <i class="fas fa-bullhorn"></i> -->
                            <i>Min-Max Table Value</i>
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- TABEL KEDUA -->
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <!-- <h5>
                                            
                                        </h5> -->
                                </tr>
                                <tr>
                                    <th style="width: 50px; text-align: center;">No.</th>
                                    <th style="text-align: center;">Nama Gejala</th>
                                    <th style="text-align: center">Nilai CF tertinggi (MAX)</th>
                                    <th style="text-align: center">Nilai CF tertinggi (MIN)</th>
                                    <th style="text-align: center">Total Gejala</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rs in datamm %}
                                <tr>
                                    <td style="width: 50px; text-align: center;">{{ loop.index }}</td>
                                    <td style="text-align: center;">{{ rs.0 }}</td>
                                    <td style="text-align: center;">{{ rs.1 }}</td>
                                    <td style="text-align: center;">{{ rs.2 }}</td>
                                    <td style="text-align: center;">{{ rs.3 }}</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="4">Unbelievable. No entries here so far</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
            {% for testing in data %}
            <div class="col-sm-12">
                <div class="card collapsed-card">
                    <div class="card-header">
                        <h3 class="card-title justify-content-center">
                            <!-- <i class="fas fa-bullhorn"></i> -->
                            Nilai Euclidean dari data testing ke-{{ loop.index, testing.2 }}
                            {% if testing.2 == "Gingivitis" %}
                            {% set penyakitApe = 1 %}
                            {% elif testing.2 == "Pulpitis" %}
                            {% set penyakitApe = 2 %}
                            {% elif testing.2 == 'Abses gigi' %}
                            {% set penyakitApe = 3 %}
                            {% elif testing.2 == "Karies Gigi" %}
                            {% set penyakitApe = 4 %}
                            {% elif testing.2 == "Periodontitis" %}
                            {% set penyakitApe = 5 %}
                            {% else %}
                            {% set penyakitApe = 6 %}
                            {% endif %}
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- TABEL KETIGA -->
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <!-- <h5></h5> -->
                                </tr>
                                <tr>
                                    <th style="text-align: center;">No.</th>
                                    <th style="text-align: center;">Nama Pasien</th>
                                    <th style="text-align: center">Jarak Euclidean</th>
                                    <th style="text-align: center">Diagnosis Penyakit</th>
                                </tr>
                            </thead>
                            {% set paket = [] %}
                            {% set NotFinalPasien = [] %}
                            {% set FinalPasien = [] %}
                            {% set FinalEuclidean = [] %}
                            {% set FinalPenyakit = [] %}
                            {% for p in pasien if p.0 not in paketTest %}
                            {% set gejalabeda = [] %}
                            {% set penyakitpasien = [] %}
                            {% set gejalabedaK = [] %}
                            {% set filteredgejala = [] %}
                            {% set normgejalasama = [] %}
                            {% set normgejalabeda = [] %}
                            {% set normgejalabedaK = [] %}
                            {% set gejalasama = [] %}
                            {% set allgejalaTrain = [] %}
                            {% set allgejalaSamlpe = [] %}
                            {% set normallgejalaSamlpe = [] %}
                            {% set allgejala = [] %}
                            {% set allnorm = [] %}
                            <tbody>
                                <tr>
                                    <td style="text-align: center; width: 40px;">{{ loop.index }}</td>
                                    <td style="text-align: center; width: 400px;">{{ p.0 }}</td>
                                    {% for rm in r3 if rm.0 %}
                                    <!-- COCOKIN ORG SAMA -->
                                    {% if p.0 == rm.0 and p.0 %}
                                    {% set fp = NotFinalPasien.append(p.0) %}
                                    {% for k in k3 if k.5 == testing.0 %}
                                    {% if rm.1 == k.0 %}
                                    {% set norm = 0 %}
                                    {% set norm = ((rm.5-k.4)**2) %}
                                    {% set kk = normgejalasama.append(norm) %}
                                    {% set ap = gejalasama.append(rm.1) %}
                                    {% endif %}
                                    {% endfor %}
                                    {% if rm.1 not in gejalasama %}
                                    {% set normB = 0 %}
                                    {% set normB = ((rm.5)**2) %}
                                    {% set km = normgejalabeda.append(normB) %}
                                    {% set al = gejalabeda.append(rm.1) %}
                                    {% endif %}
                                    {% set ps = penyakitpasien.append(rm.6) %}
                                    {% endif %}
                                    {% endfor %}
                                    {% for gejala in k3 if gejala.0 not in gejalasama and gejala.5 == testing.0 %}
                                    {% set normB = 0 %}
                                    {% set normB = ((gejala.4)**2) %}
                                    {% set kri = normgejalabedaK.append(normB) %}
                                    {% set as = gejalabedaK.append(gejala.0) %}
                                    {% endfor %}
                                    {% set allgejala = gejalabeda + gejalabedaK + gejalasama %}
                                    {% set allnorm = normgejalabeda + normgejalabedaK + normgejalasama %}
                                    <td style="text-align: center;">{{ "%.5f"|format(((allnorm|sum)**(1/2))|float) }}</td>
                                    {% set euclid = (allnorm|sum)**(1/2) %}
                                    {% set fp = FinalEuclidean.append(euclid) %}
                                    <td style="text-align: center;">{{ penyakitpasien[0] }}</td>
                                    {% set pps = FinalPenyakit.append(penyakitpasien[0]) %}
                                </tr>
                                {% else %}
                                <tr>
                                    <td style="text-align: center;" colspan="3">Unbelievable. No entries
                                        here so far</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                        <br>
                        {% set FinalPasien = NotFinalPasien|unique|list %}
                        {% set dataterendah = [] %}
                        {% set penyakitterendah = [] %}

                        <!-- INI DIA VAR K -->
                        {% set varK = 7 %}
                        <!-- INI DIA VAR K -->
                        
                        {% for e in FinalEuclidean|unique|sort %}
                            {% if loop.index < varK %} 
                                {% set lo=dataterendah.append(e) %} 
                            {% endif %} 
                        {% endfor %} 
                        {% set dtsort = dataterendah|sort %}
                        
                        {{ dtsort }}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <h5>
                                        K = {{ varK-1 }}
                                    </h5>
                                    <h5>
                                        Value Euclidean Terdekat
                                    </h5>
                                </tr>
                                <tr style="text-align: center;">
                                    <th>
                                        Nilai Euclidean
                                    </th>
                                    <th>
                                        Nama Penyakit
                                    </th>
                                </tr>
                            </thead>
                            {% set markicob = [] %}
                            {% set paketKu = [] %}
                            <tbody>
                                {% set datapen = [] %}
                                {% for f in FinalEuclidean %}
                                    {% if f in dtsort %}
                                        {% set paketKu = f,FinalPenyakit[loop.index0] %}
                                        {% set sjksaddnj = markicob.append(paketKu) %}
                                    {% endif %}
                                {% endfor %}
                                {% for i in markicob|sort %}
                                    {% if loop.index < varK %}
                                        <tr style="text-align: center;">
                                            <td>
                                                {{ i[0] }}
                                            </td>
                                            <td>
                                                {{ i[1] }}
                                            </td>
                                            {% set krr = datapen.append("%.5f"|format(i[0]|float)) %}
                                            {% set kkk = penyakitterendah.append(i[1]) %}
                                        <tr>
                                    {% endif %}
                                {% endfor %}
                                    <td colspan="2" style="text-align: center;">
                                        {% set countGingivitis = penyakitterendah.count("Gingivitis") %}
                                        {% set countPulpitis = penyakitterendah.count("Pulpitis") %}
                                        {% set countAbsesG = penyakitterendah.count("Abses gigi") %}
                                        {% set countKariesG = penyakitterendah.count("Karies Gigi") %}
                                        {% set countPeriodontitis = penyakitterendah.count("Periodontitis") %}
                                        {% set countStomatitis = penyakitterendah.count("Stomatitis") %}
                                        {% set listPen =
                                        [countGingivitis,countPulpitis,countAbsesG,countKariesG,countPeriodontitis,countStomatitis]
                                        %}
                                        Berdasarkan penyakit banyak, maka diagnosis penyakitnya ialah
                                        <b>
                                            {% set nyam = [] %}
                                            {% for i in listPen %}
                                            {% if i == listPen|max %}
                                            {% if loop.index == 1 %}
                                            {% set nyam = nyam.append("Gingivitis") %}
                                            {% elif loop.index == 2 %}
                                            {% set nyam = nyam.append("Pulpitis") %}
                                            {% elif loop.index == 3 %}
                                            {% set nyam = nyam.append("Abses gigi") %}
                                            {% elif loop.index == 4 %}
                                            {% set nyam = nyam.append("Karies Gigi") %}
                                            {% elif loop.index == 5 %}
                                            {% set nyam = nyam.append("Periodontitis") %}
                                            {% elif loop.index == 6 %}
                                            {% set nyam = nyam.append("Stomatitis") %}
                                            {% endif %}
                                            {% if loop.index == penyakitApe %}
                                            {% else %}
                                            {# loop.index,penyakitApe #}
                                            {% endif %}
                                            {% endif %}
                                            {% endfor %}
                                            {% for n in nyam %}
                                            {% if loop.previtem is defined %}
                                            & {{ n }}
                                            {% else %}
                                            {{ n }}
                                            {% set jajang = paketPenyakit.append(nyam) %}
                                            {% endif %}
                                            {% endfor %}
                                        </b>
                                    </td>
                                    </td>
                            </tbody>
                            </table>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title justify-content-center">
                            <!-- <i class="fas fa-bullhorn"></i> -->
                            <i>Accuracy Table</i>
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- TABEL KEDUA -->
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <!-- <h5>
                                            
                                        </h5> -->
                                </tr>
                                <tr>
                                    <th style="width: 50px; text-align: center;">No.</th>
                                    <th style="text-align: center;">Nama Pasien</th>
                                    <th style="text-align: center">Penyakit Aktual</th>
                                    <th style="text-align: center">Diagosis Penyakit (CF-KNN)</th>
                                    <th style="text-align: center">Keterangan</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rs in data %}
                                {% set answ = [] %}
                                <tr>
                                    <td style="width: 50px; text-align: center;">{{ loop.index }}</td>
                                    <td style="text-align: center;">{{ rs.0 }}</td>
                                    <td style="text-align: center;">{{ rs.2 }}</td>
                                    <td style="text-align: center;">
                                        {% for q in paketPenyakit[loop.index0] %}
                                            {% if loop.previtem is defined %}
                                                &  {{ q }}
                                                {% if loop.last is defined %}
                                                    {% set kqm = answ.append("others") %}
                                                {% endif %}
                                            {% elif loop.length == 1 %}
                                                {{ q }}
                                                {% set kqm = answ.append(q) %}
                                            {% else %}
                                                {{ q }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td style="text-align: center;">
                                        {% for d in answ|unique %}
                                            {% if d == rs.2 %}
                                                Sama
                                                {% set assa = samagk.append("Sama") %}
                                            {% else %}
                                                <b style="color: red;"> Beda </b>
                                                {% set assk = samagk.append("Beda") %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="4">Unbelievable. No entries here so far</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <table class="table table-bordered">
                            <tbody>
                                <tr style="width: 150px;">
                                    <td style=" text-align: right;"><b> benar (Sama)</b></td>
                                    <td>{{ samagk.count("Sama") }} </td>
                                </tr>
                                <tr style="width: 150px;"">
                                        <td style=" text-align: right;"><b>Diagnosis salah (Beda)</b></td>
                                    <td>{{ samagk.count("Beda") }} </td>
                                </tr>
                                <tr style="width: 150px;"">
                                        <td style=" text-align: right;"><b>Akurasi</b></td>
                                    <td>{{ ((samagk.count("Sama"))/20)*100 }}% </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type=" button" class="btn bg-gradient-primary btn-lg" href="/iniDiagnosis">Kembali ke
                    Diagnosis Penyakit</a>
            </div>
        </div>
    </div>
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% include 'footer.html' %}