{% include 'header.html' %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">  <i class="nav-icon fas fa-hospital-user""></i> Data Rekam Medis Pasien</h3>
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="riwayatpasien">List View</a></li>
                                <li class="breadcrumb-item active">Data View</li>
                            </ol>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0" style="height: 692px;">
                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                    <tr>
                                        <th style="width: 5px">No.</th>
                                        <th>Nama Pasien</th>
                                        <!-- <th>apa</th> -->
                                        {% for gej in gejala %}
                                        <th style="width: 5px; text-align: center;"> {{ gej.0 }} </th>
                                        {% endfor %}
                                        <th>Diagnosis</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rs in data %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td style="text-align: center;">{{ rs.0 }}</td>
                                        {% set gj = rs.1.split(',') %}
                                        {% set sicf = rs.3.split(',') %}
                                        {% for gej in gejala %} 
                                            <td> 
                                                {% if gej.0 in gj %}
                                                   {% for i in gj %}
                                                        {% if i == gej.0 %}
                                                            {{ sicf[loop.index0] }}
                                                        {% endif %}
                                                   {% endfor %}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                        <td>{{ rs.4 }}</td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="3">Unbelievable. No entries here so far</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <!-- <a href="tambahgejala" target="_blank">Tambah Gejala</a> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% include 'footer.html' %}