{% include 'header.html' %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="container mt-5">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <h5>
                                            Table CF - KNN 
                                        </h5>
                                    </tr>
                                    <tr>
                                        <th style="width: 50px; text-align: center;">No.</th>
                                        <th style="text-align: center;">Kode Gejala</th>
                                        <th style="text-align: center;">Gejala</th>
                                        <th style="text-align: center;">Interpretasi pasien</th>
                                        <th style="text-align: center;">Nilai CF</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rs in data %}
                                    <tr>
                                        <td style="width: 50px; text-align: center;">{{ loop.index }}</td>
                                        <td style="text-align: center;">{{ rs.2 }}</td>
                                        <td style="text-align: center;">{{ rs.0 }}</td>
                                        {% if rs.1 == 0.25 %}
                                        <td style="text-align: center;">Ragu-ragu</td>
                                        {% elif rs.1 == 0.5 %}
                                        <td style="text-align: center;">Mungkin</td>
                                        {% elif rs.1 == 0.75 %}
                                        <td style="text-align: center;">Kemungkinan besar</td>
                                        {% else %}
                                        <td style="text-align: center;">Yakin</td>
                                        {% endif %}
                                        <td style="text-align: center;">{{ rs.1 }}</td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="3">Unbelievable. No entries here so far</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <h5 class="card-header">Hasil Diagnosis menggunakan metode gabungan Certainty Factor dan
                            K-Nearest Neighbor</h5>
                        <div class="card-body">
                            <p class="card-text">Dengan nilai K = {{k}}, sebagai berikut:</p>
                            <div style="text-align: center;">
                                <style>
                                    .dataframe thead th {
                                        text-align: center;
                                    }
                                </style>
                                {{skor | safe}}
                            </div>
                            <p class="card-text">Dengan rincian sebagai berikut:</p>
                            <div style="text-align: center;">
                                <style>
                                    .dataframe thead th {
                                        text-align: center;
                                    }
                                </style>
                                {{keputusan | safe}}
                            </div>
                            <h6 class="card-title">Maka hasilnya diagnosisnya adalah:</h6>
                            <br>
                            <b><p  > {{ evaluat }}</p></b>
                        </div>
                        <a type="text" class="btn bg-gradient-primary btn-lg " href="/iniDiagnosis">Kembali ke Analisis CF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}