{% include 'header.html' %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Tambah Penyakit</h2>
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Tambah Penyakit</li>
          </ol>
        </div>
        <form role="form" action="/simpanFormPenyakit" method="POST">
          <div class="card-body">
            <div class="form-group">
              <label for="idPenyakit">ID Penyakit</label>
              <input type="text" class="form-control" id="idPenyakit" name="idPenyakit" placeholder="Masukkan ID Penyakit">
            </div>
            <div class="form-group">
              <label for="namaPenyakit">Nama Penyakit</label>
              <input type="text" class="form-control" id="namaPenyakit" name="namaPenyakit" placeholder="Masukkan Nama Penyakit">
            </div>
            <div class="form-group">
              <label for="definisPenyakit">Definisi Penyakit</label>
              <input type="text" class="form-control" id="definisPenyakit" name="definisPenyakit" placeholder="Masukkan Definisi Penyakit">
            </div>
            <div class="form-group">
              <label for="solusiPenyakit">Solusi Penyakit</label>
              <input type="text" class="form-control" id="solusiPenyakit" name="solusiPenyakit" placeholder="Masukkan Penanganan Penyakit">
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="submit" class="btn btn-primary"> Submit </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% include 'footer.html' %}