{% include 'header.html' %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <section class="content">
                <div class="row">
                    <div class="col-12" id="accordion">
                        <div class="card card-primary card-outline">
                            <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                                <div class="card-header">
                                    <h4 class="card-title w-100">
                                        Tentang Aplikasi
                                    </h4>
                                </div>
                            </a>
                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    Dia-Dental Pro adalah aplikasi berbasis website yang mendukung proses diagnosis penyakit gigi pada pasien. Terdapat 6 penyakit dan 28 gejala secara <i>default</i> yang menjadi acuan bagi dokter untuk menentukan diagnosis
                                    penyakit. Aplikasi ini dibangun untuk
                                    <b>membantu dokter gigi dalam mendiagnosis penyakit secara cepat dan tepat pada masa pandemi
                    Covid.</b>
                                    <br><br> Untuk memenuhi tujuan tersebut, aplikasi ini mengacu pada 3 penerapan:
                                    <ul>
                                        <li>
                                            Menerapkan konsep sistem pakar (sistem pakar dirancang agar dapat memberikan solusi dari suatu permasalahan dengan meniru kerja dan pemikiran dari para ahli).
                                        </li>
                                        <li>
                                            Menerapkan metode <i><a style="color: black;"
                        href="https://www.sciencedirect.com/topics/computer-science/certainty-factor">Certainty
                        Factor</a></i> dalam mendiagnosis penyakit.
                                        </li>
                                        <li>
                                            Menerapkan gabungan metode <i><a style="color: black;"
                        href="https://www.sciencedirect.com/topics/computer-science/certainty-factor">Certainty
                        Factor</a></i> dan <i><a style="color: black;"
                        href="https://en.wikipedia.org/wiki/K-nearest_neighbors_algorithm">K Nearest Neighbor</a></i> dalam mendiagnosis penyakit.
                                        </li>
                                    </ul>
                                    <br> Di dalam aplikasi ini terdapat menu dan fitur yang dapat digunakan, diantaranya adalah:
                                    <ul>
                                        <li>
                                            <a style="color: black;" href="/diagnosispenyakit"> <b>Diagnosis Penyakit</b> (Untuk melakukan diagnosis penyakit gigi)</a>
                                        </li>
                                        <li>
                                            <a style="color: black;" href="/infopenyakit"> <b> Lihat Penyakit</b> (Untuk melihat detail informasi penyakit)</a>
                                        </li>
                                        <li>
                                            <a style="color: black;" href="/infogejala"> <b>Lihat Gejala</b> (Untuk melihat detail informasi gejala)
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color: black;" href="/basispengetahuan"> <b>Basis Pengetahuan</b> (Halaman untuk melihat relasi setiap penyakut terhadap setiap gejala, basis pengetahuan atau <i>knowledge base</i> adalah Komponen utama pada penerapan Sistem Pakar)</a>
                                        </li>
                                        <li>
                                            <a style="color: black;" href="/riwayatpasien"> <b> Riwayat Pasien</b> (Untuk melihat rekam medis pasien yang disimpan)</a>
                                        </li>
                                        <li>
                                            <a style="color: black;" href="/tentang"> <b>Tentang</b> (Untuk melihat detail informasi gejala)</a>
                                        </li>
                                    </ul>
                                    Namun beberapa fitur mewajibkan anda terdaftar sebagai user. Jika anda tidak dapat login, silahkan hubungi<a href="https://api.whatsapp.com/send?phone=+62877-7723-0498&text=Tolong%20tambahkan%20saya%20sebagai%20user.">
                    admin</a> untuk menambahkan akun anda.
                                </div>
                            </div>
                        </div>
                        <div class="card card-warning card-outline">
                            <a class="d-block w-100" data-toggle="collapse" href="#collapseFour">
                                <div class="card-header">
                                    <h4 class="card-title w-100">
                                        Tentang Data dan Metode
                                    </h4>
                                </div>
                            </a>
                            <div id="collapseFour" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    Detail sumber data yang digunakan dalam aplikasi ini adalah
                                    <ul>
                                        <li>Representasi Pengetahuan: Rekam medis klinik drg. Sri Rahaju dan drg. Sri Rahaju (Pakar)</li>
                                        <li>Informasi Penyakit dan Gejala: drg. Sri Rahaju (Pakar)</li>
                                        <li><i>Dataset</i>: Rekam medis klinik drg. Sri Rahaju</li>
                                    </ul>
                                    <br>Sedangkan dalam melakukan <a style="color: bold black;" href="/diagnosispenyakit">diagnosis penyakit gigi</a> , aplikasi ini menerapkan 2 model metode yaitu
                                    <ul>
                                        <li>
                                            Diagnosis penyakit gigi menggunakan metode Certainty Factor
                                        </li>
                                        <li>
                                            Diagnosis penyakit gigi menggunakan metode Certainty Factor dan K Nearest Neighbor
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card card-danger card-outline">
                            <a class="d-block w-100" data-toggle="collapse" href="#collapseSeven">
                                <div class="card-header">
                                    <h4 class="card-title w-100">
                                        Profile
                                    </h4>
                                </div>
                            </a>
                            <div id="collapseSeven" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <div class="col-12 col-sm-6 col-md-4 d-flex">
                                            <div class="card bg-light d-flex flex-fill">
                                                <div class="card-header text-center border-bottom-0">
                                                    <h2>Profile Pakar</h2>
                                                </div>
                                                <div class="card-body pt-0">
                                                    <div class="row">
                                                        <div class="col-5 text-center">
                                                            <img src="{{ url_for('static', filename='dist/img/mama.jpg') }}" alt="user-avatar" class="img-square img-fluid">
                                                        </div>
                                                        <div class="col-7">
                                                            <h2 class="lead text-center"><b>drg. Sri Rahaju</b></h2>
                                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                                <li class="large"><span class="fa-li"><i class="nav-icon fas fa-user-md"></i></span> 31.2.2.100.3.16.009395
                                                                </li>
                                                                <li class="large"><span class="fa-li"><i class="nav-icon fas fa-building"></i></span> Jl. Raya Besito No. 486 A, Besito Kulon, Besito, Kec.Gebog, Kabupaten Kudus, Jawa Tengah 59333</li>
                                                                <li class="large"><span class="fa-li"><i class="nav-icon fas fa-phone"></i></span>+62 1215 751428
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="text-right">
                                                        <a href="https://api.whatsapp.com/send?phone=+62812-1575-1428&text=Saya%20berkonsultasi%20mengenai%20penyakit%20gigi." class="btn btn-sm bg-teal">
                                                            <i class="fas fa-comments"></i>
                                                        </a>
                                                        <a href="http://www.kki.go.id/cekdokter/form/ysttntx27jsgd/8996XCX58407ab3b6797f610fdb83bf495c0eaeb4979037" class="btn btn-sm btn-primary">
                                                            <i class="fas fa-user"></i> View Profile
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 d-flex">
                                            <div class="card bg-light d-flex flex-fill">
                                                <div class="card-header text-center border-bottom-0">
                                                    <h2>Profile Penulis Skripsi</h2>
                                                </div>
                                                <div class="card-body pt-0">
                                                    <div class="row">
                                                        <div class="col-5 text-center">
                                                            <img src="{{ url_for('static', filename='dist/img/fani.jpg') }}" alt="user-avatar" class="img-square img-fluid">
                                                        </div>
                                                        <div class="col-7">
                                                            <h2 class="lead text-center"><b>Fani Masturina</b></h2>
                                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                                <li class="large"><span class="fa-li"><i class="nav-icon fa fa-user"></i></span> 2001573676 / BN001041314</li>
                                                                <li class="large"><span class="fa-li"><i class="nav-icon fas fa-building"></i></span> Jl. U No 21, , RT.9/RW.15, Palmerah, Kec. Palmerah, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11480
                                                                </li>
                                                                <li class="large"><span class="fa-li"><i class="nav-icon fas fa-phone"></i></span>+62 8777 7230498
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="text-right">
                                                        <a href="https://api.whatsapp.com/send?phone=+62877-7723-0498&text=Saya%20ingin%20menanyakan%20skripsi%20ini." class="btn btn-sm bg-teal">
                                                            <i class="fas fa-comments"></i>
                                                        </a>
                                                        <a href="https://www.linkedin.com/in/fanimasturina/" class="btn btn-sm btn-primary">
                                                            <i class="fas fa-user"></i> View Profile
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- </div> -->
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% include 'footer.html' %}